<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title><layout-placeholder name="title">Default title</layout-placeholder></title>
</head>
<body>
<h1 if="data.showHeader !== false">
	<layout-placeholder name="title"/>
</h1>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<p>This is some extra text that goes in the page in order to pad out the content.
It's a bit of a hack to get Firefox to display things correctly but wacko.</p>
<layout-placeholder name="body"/>
<div>
	<layout-placeholder name="footer">
		Default footer
	</layout-placeholder>
</div>
</body>
</html>

